header {
  background: #000000;
  color: #b8f19b;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.studentCard {
  background: #ffffff;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.studentInfo {
  text-align: left;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 5px;
}

.student-name {
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 5px;
}

.student-class {
  font-size: 16px;
  color: #555;
}

.actionButtons {
  margin-top: 10px;
  text-align: right;
  background-color: transparent;
  font-size: 14px;
}
